*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family:'Poppins',sans-serif;
    text-decoration: none;
    list-style: none;
}

.header {
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content:space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    padding: 35px 12%;
}